<div id="addlink_toolbar">
    <form method="GET" action="" name="addform" class="addform">
        <input type="text" name="post" placeholder="URI">
        <input type="submit" value="Ajouter un lien" class="bigbutton">
    </form>
</div>
