<title>{$pagetitle}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" href="{$feedurl}?do=rss{$searchcrits}#" title="RSS Feed">
<link rel="alternate" type="application/atom+xml" href="{$feedurl}?do=atom{$searchcrits}#" title="ATOM Feed">
<link href="images/favicon.ico#" rel="shortcut icon" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="../inc/reset.css">
<link type="text/css" rel="stylesheet" href="../inc/shaarli.css">
{if="is_file('inc/user.css')"}<link type="text/css" rel="stylesheet" href="../inc/user.css">{/if}
{loop="$plugins_includes.css_files"}
<link type="text/css" rel="stylesheet" href="{$value}#">
{/loop}
<link rel="search" type="application/opensearchdescription+xml" href="?do=opensearch#" title="Shaarli search - {$shaarlititle|htmlspecialchars}">
