<item>
    <title>{$title} - {function="mystrftime('%A %e %B %Y', $daydate)"}</title>
<!-- Version GestLiens 0.7.2e PHP 8.1 - Format date/heure - Modification de strftime par mystrftime en lignes 2 et 9-->
    <guid>{$absurl}</guid>
    <link>{$absurl}</link>
    <pubDate>{$rssdate}</pubDate>
    <description><![CDATA[
        {loop="links"}
        	<h3><a href="{$value.url}">{$value.title}</a></h3>
        	<small>{if="!$GLOBALS['config']['HIDE_TIMESTAMPS']"}{function="mystrftime('%c', $value.timestamp)"} - {/if}{if="$value.tags"}{$value.tags}{/if}<br>
        	{$value.url}</small><br>
        	{if="$value.thumbnail"}{$value.thumbnail}{/if}<br>
        	{if="$value.description"}{$value.formatedDescription}{/if}
        	<br><br><hr>
        {/loop}
    ]]></description>
</item>
