{if="empty($_GET['source'])"}
<div id="footer" class="container text-center">
  <strong><a href="http://jc.etiemble.free.fr/abc/index.php/realisations/gestliens" target="_blank" title="GestLiens Pour conserver en ligne ses liens ou marque-pages (Shaarli)" >GestLiens {$version}</a></strong> - {'Le service de partage de signets personnel, minimaliste sans base de données<br>Par the Shaarli community'|t} - <strong><a href="https://github.com/shaarli/Shaarli" target="_blank" title="github.com/shaarli/Shaarli" >{'Shaarli'|t}</a></strong> - <a href="https://shaarli.readthedocs.io/en/master/" rel="nofollow" target="_blank" title="Documentation En">{'Help/documentation'|t}</a> - <strong><a href="https://framagit.org/framasoft/myframa/" target="_blank" title="framagit.org/framasoft/myframa/ Ancienne version de myframa">Framasoft/myframa</a></strong>
    {loop="$plugins_footer.text"}
        {$value}
    {/loop}
</div>
{/if}

{loop="$plugins_footer.endofpage"}
    {$value}
{/loop}

{if="$newVersion"}
<div id="newversion">
  <span id="version_id">&#x25CF;</span> Shaarli {$newVersion}{' is'|t}
  <a href="https://github.com/shaarli/Shaarli/releases">{'available'|t}</a>.
</div>
{/if}
{if="$versionError"}
<div id="newversion">
  {'Error:'|t} {$versionError}
</div>
{/if}
{if="isLoggedIn()"}
<script>function confirmDeleteLink() {
  var agree=confirm("{'Are you sure you want to delete this link?'|t}"); if (agree) return true ; else return false ;
}</script>
{/if}

<script src="inc/jquery/jquery.min.js"></script>
<script src="inc/bootstrap/js/bootstrap.min.js"></script>
{loop="$plugins_footer.js_files"}
	<script src="{$value}#"></script>
{/loop}
