<span class="linkqrcode">
    <a href="http://qrfree.kaywa.com/?l=1&amp;s=8&amp;d=%s" onclick="showQrCode(this); return false;" class="qrcode" data-permalink="%s">
        <img src="%s/qrcode/qrcode.png" class="linklist-plugin-icon" title="QR-Code" alt="">
    </a>
</span >
